#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include "keys_pl.h"

&lt {
    tapping-term-ms = <200>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            display-name = "Shift/Caps Lock Tap Dance";
            #binding-cells = <0>;
            bindings = <&sk LEFT_SHIFT>, <&kp CAPS>;

            label = "Shift + Caps";
        };

        td1: td1 {
            compatible = "zmk,behavior-tap-dance";
            display-name = "BT 0 / BT 2 Lock Tap Dance";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 0>, <&bt BT_SEL 2>;

            label = "Tap BT0, dblt BT2";
        };
    };

    combos {
        compatible = "zmk,combos";

        Zs {
            timeout-ms = <20>;
            bindings = <&kp RA(Z)>;
            key-positions = <31 32>;
            layers = <0>;
        };

        Xs {
            timeout-ms = <20>;
            bindings = <&kp PL_X>;
            key-positions = <25 26>;
            layers = <0>;
        };

        Cs {
            timeout-ms = <20>;
            bindings = <&kp PL_C>;
            key-positions = <16 15>;
            layers = <0>;
        };

        Ns {
            timeout-ms = <20>;
            bindings = <&kp PL_N>;
            key-positions = <2 3>;
            layers = <0>;
        };

        Ls {
            timeout-ms = <20>;
            bindings = <&kp PL_L>;
            key-positions = <7 8>;
            layers = <0>;
        };

        Es {
            timeout-ms = <20>;
            bindings = <&kp PL_E>;
            key-positions = <21 22>;
            layers = <0>;
        };

        Os {
            timeout-ms = <20>;
            bindings = <&kp PL_O>;
            key-positions = <8 9>;
            layers = <0>;
        };

        As {
            timeout-ms = <20>;
            bindings = <&kp PL_A>;
            key-positions = <20 19>;
            layers = <0>;
        };

        Ss {
            timeout-ms = <20>;
            bindings = <&kp PL_S>;
            key-positions = <13 14>;
            layers = <0>;
        };

        Gaming {
            bindings = <&tog 3>;
            key-positions = <13 14 15 16>;
        };

        lm {
            bindings = <&mkp MB1>;
            key-positions = <27 28>;
        };

        rm {
            bindings = <&mkp MB2>;
            key-positions = <27 26>;
        };

        mm {
            bindings = <&mkp MB3>;
            key-positions = <27 28 26>;
        };

        mb1bis {
            bindings = <&mkp MB1>;
            key-positions = <32 33 31>;
        };

        zip {
            bindings = <&tog 4>;
            key-positions = <19 20 21 22>;
        };
    };

    macros {
        xlookup: xlookup {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EQUAL &kp X &kp L &kp O &kp O &kp K &kp U &kp P &kp LPAR>;
            label = "XLOOKUP";
        };

        sumifs: sumifs {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EQUAL &kp S &kp U &kp M &kp I &kp F &kp S &kp LPAR>;
            label = "SUMIFS";
        };

        left: left {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EQUAL &kp L &kp E &kp F &kp T &kp LPAR>;
            label = "LEFT";
        };

        mid: mid {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EQUAL &kp M &kp I &kp D &kp LPAR>;
            label = "MID";
        };

        copy: copy {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sk LCTRL &kp C>;
            label = "COPY";
        };

        paste: paste {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sk LCTRL &kp V>;
            label = "PASTE";
        };

        countif: countif {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp EQUAL &kp C &kp O &kp U &kp N &kp T &kp I &kp F &kp S &kp LPAR>;
            label = "COUNTIF";
        };

        logout: logout {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&sk LEFT_WIN &kp L>;
            label = "LOGOUT";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        BASE {
            display-name = "Base";
            bindings = <
&kp TAB    &kp F  &kp N  &kp D         &kp W        &kp V          &kp SQT         &kp L          &kp O      &kp U     &kp Y    &logout
&td0       &kp S  &kp R  &kp T         &kp C        &kp G          &kp H           &kp K          &kp A      &kp E     &kp I    &kp SEMI
&kp LCTRL  &kp X  &kp J  &kp M         &kp P        &kp B          &kp Q           &kp Z          &kp COMMA  &kp FSLH  &kp DOT  &kp ESC
                         &kp LEFT_ALT  &lt 1 SPACE  &lt 2 ENTER    &kp LEFT_SHIFT  &kp BACKSPACE
            >;
        };

        NUM {
            display-name = "Num";
            bindings = <
&mt GRAVE ESCAPE  &kp EXCL   &kp AT     &kp HASH          &kp DOLLAR  &kp PERCENT    &kp CARET   &kp AMPS       &kp ASTERISK  &mt LEFT_BRACKET LEFT_PARENTHESIS  &mt RIGHT_BRACKET RIGHT_PARENTHESIS  &none
&kp LEFT_SHIFT    &kp N1     &kp N2     &kp N3            &kp N4      &kp N5         &kp N6      &kp N7         &kp N8        &kp N9                             &kp N0                               &kp BSLH
&kp LEFT_CONTROL  &kp SLASH  &kp MINUS  &kp PLUS          &kp EQUAL   &kp SEMI       &none       &none          &kp COMMA     &kp FSLH                           &kp DOT                              &kp UNDER
                                        &kp LEFT_COMMAND  &trans      &trans         &kp DELETE  &kp BACKSPACE
            >;
        };

        NAV {
            display-name = "Nav";
            bindings = <
&kp LEFT_ALT      &kp HOME  &kp LC(PAGE_UP)  &kp UP    &kp LC(PAGE_DOWN)  &kp PAGE_UP      &none             &kp F1          &kp F2   &kp F3   &kp F4   &kp SCROLLLOCK
&kp LEFT_SHIFT    &kp END   &kp LEFT         &kp DOWN  &kp RIGHT          &kp PAGE_DOWN    &kp LEFT_SHIFT    &kp F5          &kp F6   &kp F7   &kp F8   &kp PAUSE_BREAK
&sk LEFT_CONTROL  &mid      &xlookup         &sumifs   &countif           &kp LS(LG(S))    &kp LEFT_CONTROL  &kp F9          &kp F10  &kp F11  &kp F12  &kp INS
                                             &td1      &bt BT_SEL 1       &none            &kp LEFT_CONTROL  &kp LEFT_SHIFT
            >;
        };

        GAME {
            display-name = "Game";
            bindings = <
&kp TAB           &kp U  &kp Q  &kp W     &kp E      &kp R      &trans   &trans    &trans    &trans    &trans    &trans
&kp LEFT_SHIFT    &kp J  &kp A  &kp S     &kp D      &kp F      &trans   &kp N1    &kp N2    &kp N3    &kp N4    &trans
&kp LEFT_CONTROL  &kp K  &kp Z  &kp X     &kp C      &kp V      &trans   &mkp MB1  &mkp MB2  &mkp MB3  &mkp MB4  &kp ESC
                                &kp LALT  &kp SPACE  &kp RET    &kp ESC  &trans
            >;
        };

        EXTRAS {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans          &trans      &trans  &trans  &trans  &bootloader
&trans  &trans  &trans  &trans  &trans  &trans    &trans          &trans      &trans  &trans  &trans  &sys_reset
&trans  &trans  &trans  &trans  &trans  &trans    &trans          &trans      &trans  &trans  &trans  &out OUT_TOG
                        &trans  &trans  &trans    &bt BT_CLR_ALL  &bt BT_CLR
            >;
        };
    };
};
